@tailwind base;
@tailwind components;
@tailwind utilities;


.bgArea{
    background-image: url(./image/pexels-yuuilina-9066471.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

